
<%- include('../partials/header') %>
  <h2>Three favorite things about cats: </h2>
    <p><img class = "pic" src = "images/cat.gif" /></p>
    <h5>They are sooo adorable</h5>
    <h5>They are so fluffy and can be cuddled!</h5>
    <h5>They are really good if you don't want to deal with energetic pets!</h5>
    <br />
    <p>More pictures of cats click <a href ="https://pixabay.com/images/search/cat/" target="_blank" />here</p>
<%- include('../partials/footer') %>

