
<%- include('../partials/header') %>
  <h2>Three favorite things about dogs: </h2>
    <p><img class = "pic" src = "images/golden.jpg" /></p>
    <h5>They are very energetic!</h5>
    <h5>They can be your bestfriend!</h5>
    <h5>They can brighten your mood easily!</h5>
    <br />
    <p>More pictures of dogs click <a href ="https://pixabay.com/images/search/dogs/" target="_blank" />here</p>
<%- include('../partials/footer') %>

