
<%- include('../partials/header') %>
  <h2>My Three Favorite Animals:</h2>
    <p><img class="pic" src = "images/pets.jpg"/></p>
    <h4>Dogs</h4>
    <h4>Cats</h4>
    <h4>Rabbits</h4>
<%- include('../partials/footer') %>

