
<%- include('../partials/header') %>
  <h2>Three favorite things about rabbits: </h2>
    <p><img class = "pic" src = "images/rabbit.jpg" /></p>
    <h5>They are the fluffiest pet you can imagine!</h5>
    <h5>They are different from your typical pet!</h5>
    <h5>They can basically be considered a baby!</h5>
    <br />
    <br />
    <p>More pictures of rabbits click <a href ="https://pixabay.com/images/search/rabbits/" target="_blank" />here</p>
<%- include('../partials/footer') %>

